/* Общие стили */
header {
    width: 100%;
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 10px 40px;
}

.label {
    height: 5em;
    margin-right: 20px;
    transition: transform 1s ease-in-out;
}

.label:hover {
    transform: scale(1.05);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Выравниваем элементы по левому краю */
}

nav ul li {
    display: inline;
    margin-right: 2em; /* Уменьшаем отступ для маленьких экранов */
    font-size: 1em;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-size: 1.5em;
    color: rgb(106, 190, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, font-size 1s;
    text-align: left; /* Выравниваем текст по левому краю */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

nav ul li a:hover {
    font-size: 1.52em;
    color: rgb(32,178,255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* Медиа-запрос для экранов шириной менее 1100 пикселей */
@media screen and (max-width: 1171px) {
    nav {
        display: block;
    }

    nav ul {
        text-align: center; /* Выравниваем элементы по левому краю */
    }

    nav ul li {
        font-size: 1em;
    }
}

/* Медиа-запрос для экранов шириной менее 1100 пикселей */
@media screen and (max-width: 940px) {
    nav {
        display: block;
    }

    nav ul {
        text-align: center; /* Выравниваем элементы по левому краю */
    }

    nav ul li {
        font-size: 0.8em;
    }
}

/* Медиа-запрос для экранов шириной менее 715 пикселей */
@media screen and (max-width: 715px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
    nav ul li:last-child {
        margin: 30px 0;
    }
}

.more {
    text-decoration: none;
    background-color: rgb(106, 190, 255);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.more:hover {
    background-color: rgb(32,178,255); /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}